.wrapper {
	padding: 64px;
}

.header-wrapper {
	margin-bottom: 64px;
}

.header-upper-row {
	margin-bottom: 24px;
}

.organizations-title {
	font-family: 'Tomkin';
	font-size: 28px;
}

.search-input {
	margin-bottom: -1.25em
}

mat-form-field {
	width: 100%;
}